.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.mark-edit-wrap pre code,
.board-mark pre code,
.blog-detail-main pre code{
	display:block;
	font-size: 13px;
	overflow-x:auto;
	font-family: Menlo,Monaco,Consolas,Courier New,monospace;
	padding: 18px 15px 12px;
	color:#333;
	background:#f3f3f3;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
			border-radius: 2px;
}

.mark-edit-wrap p code,
.board-mark p code,
.blog-detail-main p code{
	color: #c7254e;
	padding: 0 5px;
    background-color: #f9f2f4;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

 .CodeMirror{
	min-height: auto !important;
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
	        border-radius: 0 !important;
}
.CodeMirror pre{
	font-size: 14px !important;
}
.CodeMirror .CodeMirror-code .cm-comment{
	color: #333 !important;
}
.CodeMirror-scroll{
	min-height: 100px  !important;
}
.editor-toolbar:before,
.editor-toolbar:after{
	margin: 0 !important;
}
.editor-toolbar{
	background: #efefef !important;
}
.editor-toolbar{
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
	        border-radius: 0 !important;
}

.editor-preview pre, .editor-preview-side pre{
	background: none !important;
}

